<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>385393062005-tbkcc9j6ujprj84c1a5om6idal79qd2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385393062005-tbkcc9j6ujprj84c1a5om6idal79qd2m</string>
	<key>API_KEY</key>
	<string>AIzaSyCwHmHGiZh3-0KObcmbE0JCD8Di6IudTPU</string>
	<key>GCM_SENDER_ID</key>
	<string>385393062005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobi.xiaoyifan.socialCalendar</string>
	<key>PROJECT_ID</key>
	<string>socialcalendar-970</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcalendar-970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:385393062005:ios:682f4e19b23db46b</string>
	<key>DATABASE_URL</key>
	<string>https://socialcalendar-970.firebaseio.com</string>
</dict>
</plist>